<footer class="footer bg-color">
	<h5 class="text-light">
        Nhóm HandJob
    </h5>
    <p class="text-light">18120061</p>
    <p class="text-light">18120062</p>
    <p class="text-light">18120098</p>
    <p class="text-light">18120100</p>
    <p class="text-light">18120185</p>
    <a href="https://github.com/HandJobCNPM"
                class="text-light">https://github.com/HandJobCNPM</a>
</footer>