<div class="Header">
    <nav class="navbar navbar-nav navbar-expand-md navbar-dark bg-info">
        <div class="col-lg-2 col-md-2">
            <a class="navbar-brand" href="#">HandJob</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav col-12">
                <li class="nav-item active dropdown col-md-3 ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thuê Freelancer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Đăng việc theo dự án</a>
                        <a class="dropdown-item" href="#">Đăng việc bán thời gian</a>
                        <a class="dropdown-item" href="#">Đăng việc toàn thời gian</a>
                </li>
                <li class="nav-item active dropdown col-md-3 ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tỉm việc làm
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Việc theo dự án</a>
                        <a class="dropdown-item" href="#">Việc bán thời gian</a>
                        <a class="dropdown-item" href="#">Việc toàn thời gian</a>
                </li>
                <li class="nav-item active col-md-2 ">
                    <a class="nav-link" href="#">Đăng kí <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active col-md-2 ">
                    <a class="nav-link" href="#">Đăng nhập <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active col-md-2 ">
                    <a class="nav-link" href="#">Đăng việc <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>