:root {
    --background: #17A2B8;
    --valid: #339933;
    --invalid: #cc0000;
    --disabled: gray;
}

body {
	font-family: sans-serif;
	background-image: url('/img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    margin: 0;
}

.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.footer p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-100vh {
    height: 100vh;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.f-space-between {
    justify-content: space-between;
}

.f-center {
    justify-content: center;
}

.f-right {
    justify-content: flex-end;
}

.fv-center {
    align-items: center;
}

.bg-color {
    background-color: var(--background);
}

[show="false"] {
    display: none;
}

[show="true"] {
    display: block;
}

#show-profile-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;   
    z-index: 1000;
}

.show-profile-box {
    width:200px;
    background: white;
    position: absolute;
    top: 40px;
    right: 120px;
    border: 1px solid grey;
    border-radius: 5px;
}

.show-profile-box a {
    color: black !important;
}

.form {
    border: 1px solid grey;
    border-radius: 10px;
    max-width: 400px;
    background-color: black;
    padding: 25px 30px 25px 30px;
    opacity: 0.8;
}

.form-title {
    text-align: center;
}

.form-fill p {
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
}

.form-fill input {
    width: 350px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

.form-submit {
    height: 50px;
    border: 1px;
    border-radius: 50px;
    background-color: #3300ff;
    color: white;
    outline: none;
    margin-top: 20px;
}

.form-submit:hover {
    color: black;
    background-color: #3350ff;
}

.all-job {
    min-height: calc(100vh - 56px);
    padding-top: 40px;
    padding-bottom: 40px;
}

.panel {
    background-color: white;
}

.job-list {
    margin-top: 15px;
    border-top: 1px solid grey;
    padding-top: 15px;
}

.price {
    width: 180px;
    display: block;
}

.summary {
    padding-top: 5px;
    padding-bottom: 10px;
}

.deadline {
    width: 240px;
}

.badge {
    margin-right: 5px;
    margin-bottom: 0;
    height: 25px;
    line-height: 20px;
}

.modal-fill {
    padding-bottom: 20px;
}

[fill="valid"] {
    border-color: var(--valid) !important;
}

[fill="invalid"] {
    border-color: var(--invalid) !important;
    color: var(--invalid) !important;
}

button:disabled {
    background-color: var(--disabled);
    color: black;
}

button:disabled:hover {
    background-color: var(--disabled);
    color: black;
}

.invalid-message {
    color: var(--invalid) !important;
    font-size: 12px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 !important;
}

.nav-item {
    margin-left: 20px;
}

.profile {
    min-height: calc(100vh - 56px);
    padding-top: 40px;
    padding-bottom: 40px;
}

.profile-box {
    width: 100%;
    height: 100%;
    background-color: white;
}