:root {
    --background: #17A2B8;
}

body {
	font-family: sans-serif;
	background-image: url('/img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.footer p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-100vh {
    height: 100vh;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.f-space-between {
    justify-content: space-between;
}

.f-center {
    justify-content: center;
}

.fv-center {
    align-items: center;
}

.bg-color {
    background-color: var(--background);
}

.form {
    border: 1px solid grey;
    border-radius: 10px;
    max-width: 400px;
    background-color: black;
    padding: 25px 30px 25px 30px;
    opacity: 0.8;
}

.form-title {
    text-align: center;
}

.form-fill p {
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
}

.form-fill input {
    width: 350px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

.form-submit {
    height: 50px;
    border: 1px;
    border-radius: 50px;
    background-color: #3300ff;
    color: white;
    outline: none;
    margin-top: 20px;
}

.form:hover button {
    color: black;
    background-color: #3350ff;
}

.all-job {
    min-height: calc(100vh - 56px);
    padding-top: 40px;
    padding-bottom: 40px;
}

.panel {
    background-color: white;
}

.job-list {
    margin-top: 15px;
    border-top: 1px solid grey;
    padding-top: 15px;
}

.price {
    width: 180px;
    display: block;
}

.summary {
    padding-top: 5px;
    padding-bottom: 10px;
}

.deadline {
    width: 240px;
}

.badge {
    margin-right: 5px;
    margin-bottom: 0;
    height: 25px;
    line-height: 20px;
}

.modal-fill {
    padding-bottom: 20px;
}