<main class="h-100vh flex f-center fv-center">
    <form class="form flex f-column f-center" action="/login" method="POST">

        <h2 class="form-title text-light">Đăng nhập</h2>
        <div class="form-fill">
            <p>Email</p>
            <input type="email"
                    placeholder="yourmail@mail.com"
                    name="email"
                    id="login-email">
            <p id="login-email-error" class="invalid-message"></p>
        </div>
        <div class="form-fill">
            <p>Mật khẩu</p>
            <input type="password"
                    placeholder="Mật khẩu"
                    name="password"
                    id="login-password">
            <p id="login-password-error" class="invalid-message"></p>
        </div>
        <button class="form-submit" id="login" type="submit" disabled="disabled">Đăng nhập</button>    
    </form>
</main>

