<main class="h-100vh flex f-center fv-center">
    <form class="form flex f-column f-center" action="/login" method="POST">
        <h2 class="form-title text-light">Đăng nhập</h2>
        <div class="form-fill">
            <p>Email</p>
            <div class="btn-container">
                <input type="text"
                            placeholder="yourmail@mail.com"
                            name="email">
            </div>
        </div>
        <div class="form-fill">
            <p>Mật khẩu</p>
            <div class="btn-container">
                <input type="password"
                            placeholder="Mật khẩu"
                            name="password">
            </div>
        </div>
        <button class="form-submit" type="submit">Đăng nhập</button>
    </form>
</main>