<main class="h-100vh flex f-center fv-center">
    <form class="form flex f-column f-center" action="/signup" method="POST">
       

        <h2 class="form-title text-light">Tạo tài khoản</h2>
        <div class="form-fill">
            <p>Họ và tên</p>
            <div class="btn-container">
                <input type="text"
                            placeholder="Nguyễn Vắn A"
                            name="name">
            </div>
        </div>
        <div class="form-fill">
            <p>Email</p>
            <div class="btn-container">
                <input type="text"
                            placeholder="yourmail@mail.com"
                            name="email">
            </div>
        </div>
        <div class="form-fill">
            <p>Mật khẩu</p>
            <div class="btn-container">
                <input type="password"
                            placeholder="Mật khẩu"
                            name="password">
            </div>
        </div>
        <div class="form-fill">
            <p>Xác nhận mật khẩu</p>
            <div class="btn-container">
                <input type="password"
                            placeholder="Mật khẩu"
                            name="confirmPassword">
            </div>
        </div>
        <button class="form-submit" type="submit">Đăng ký</button>
    </form>
</main>